.subject {
  width: 100%;
  margin-top: 69px;
  border-radius: 4px;
  box-shadow: rgb(197, 197, 197) 0px 0px 10px 0px;
  background-color: #fff;
}

.subject-inner {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.subject-above {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.subject-left {
  grid-column: 1/3;
  grid-row: 1;
}

.subject-right {
  grid-column: 3/4;
  grid-row: 1;
}

@media only screen and (max-width: 768px) {
  .subject-left {
    grid-column: 1/4;
    grid-row: 1;
  }

  .subject-right {
    grid-column: 1/4;
    grid-row: 2;
  }
}
