.footer-center-content > a {
  color: rgba(255, 255, 255, 0.8);
  height: 100%;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .footer-center-content > a {
    width: 100%;
    border-bottom: solid 0.3px rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding: 10px 0px;
  }
}
