.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

.modal-login {
  position: relative;
}

.login-loading-request {
  position: absolute;
  top: 105px;
  left: 160px;
}

.modal-register {
  position: relative;
}

.register-loading-request {
  position: absolute;
  top: 220px;
  left: 220px;
}

@media only screen and (max-width: 768px) {
  .register-loading-request {
    top: 380px;
    left: 160px;
  }
}
