.course-manager {
  width: 100%;
  margin-top: 69px;
  border-radius: 4px;
  box-shadow: rgb(197, 197, 197) 0px 0px 10px 0px;
  background-color: #fff;
}

.course-manager-inner {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course-add {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: left;
}

.modal-add-course {
  position: relative;
}

.add-course-loading-request {
  position: absolute;
  margin: auto;
  top: 60%;
  left: 45%;
}

.add-course-form-button {
  float: right;
}
