.home-middle {
  display: flex;
  flex-direction: column;
}

.home-middle-title {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.home-middle-title {
  font-weight: bold;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.8);
}

.home-middle-content {
  width: 100%;
  height: 100%;
  padding: 1rem 1rem;
}

.home-middle-content-inner {
  border: solid 1px green;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.home-middle-carouse {
  padding: 1rem 0rem;
  width: 1000px;
}

.home-middle-course-element {
  height: 100%;
  border: solid 1px grey;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.home-middle-course-image {
  width: 100%;
  height: 200px;
  position: relative;
}

.home-middle-course-image > div {
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.home-middle-course-image > div {
  padding: 1rem;
}

.home-middle-tag-name {
  position: absolute;
  background-color: rgb(204, 109, 21);
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  bottom: 0.5rem;
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
}

.home-middle-course-title {
  font-weight: bold;
  text-transform: uppercase;
}

.home-middle-course-detail {
  padding: 0.5rem 0.5rem;
  position: relative;
  height: 300px;
}

.home-middle-course-detail > p > span {
  color: rgb(116, 68, 68);
}

.home-middle-subject {
  position: absolute;
  bottom: 0px;
}
.home-middle-subject {
  color: rgb(204, 109, 21);
}
