.personal {
  width: 100%;
  margin-top: 69px;
  border-radius: 4px;
  box-shadow: rgb(197, 197, 197) 0px 0px 10px 0px;
  background-color: #fff;
}

.personal-inner {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.personal-avatar {
  width: 100%;
  display: flex;
  justify-items: center;
  justify-content: center;
}

.personal-info {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 6rem;
}

.personal-info-element {
  display: flex;
  padding: 1.25rem 0rem 0.75rem 1rem;
  border-bottom: solid 1px grey;
}

.personal-info-element-left {
  width: 40%;
  font-weight: 700;
}

.personal-info-element-right {
  width: 60%;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 450;
}

.personal-info-button {
  width: 100%;
}

.personal-info-button-change {
  float: right;
}

.personal-info-button-change > button {
  margin-top: 2rem;
  margin-right: 1rem;
}

.change-password-loading-request {
  position: absolute;
  left: 45%;
  top: 45%;
}

.personal-info {
  position: relative;
}

.icon-loading-change-info {
  position: absolute;
  top: 45%;
  left: 45%;
}

.personal-avatar-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px rgb(148, 97, 97);
}

@media only screen and (max-width: 768px) {
  .personal-inner {
    padding: 1rem;
  }

  .personal-info-element {
    display: flex;
  }
  .personal-info {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
  }
}
