.exam-right {
  border-radius: 4px;
}

.exam-right-inner {
  /* padding: 1rem; */
}

.exam-right-header {
  width: 100%;
  height: 50px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  padding-right: 2rem;
  padding-left: 2rem;
}
.exam-right-header > span {
  font-weight: 400;
  text-transform: uppercase;
}

.exam-right-body {
  padding-right: 2rem;
  padding-left: 2rem;
}

.rank-body {
  height: 380px;
  overflow-y: scroll;
}

.rank-header {
  display: flex;
  width: 100%;
  font-weight: 600;
  color: rgb(255, 174, 0);
  padding-bottom: 1rem;
  border-bottom: solid 1px grey;
}

.rank-element {
  display: flex;
  width: 100%;
  color: rgba(0, 0, 0, 0.8);
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom: solid 1px grey;
}

.rank-index {
  width: 15%;
}
.rank-name {
  width: 35%;
}

.rank-element > .rank-name {
  color: rgb(255, 43, 43);
  font-weight: 600;
}

.rank-num-of-exam {
  width: 15%;
  text-align: center;
}

.rank-total-point {
  width: 15%;
  text-align: center;
}

.rank-detail {
  width: 20%;
  text-align: center;
}

.show-exam-right-loading {
  padding-left: 45%;
  padding-top: 2rem;
}

.exam-detail-info-element {
  display: flex;
  padding: 0.875rem 0.5rem 0.5rem 0.5rem;
  border-bottom: solid 1px grey;
}

.exam-detail-info-element-left {
  font-weight: 600;
  width: 77.5%;
}

.exam-detail-info-element-right {
  font-weight: 600;
  float: right;
  width: 22.5%;
}

.exam-detail-info-element-right > span:first-child {
  color: rgb(245, 133, 133);
}
