.teacher-list {
  width: 100%;
  margin-top: 69px;
  border-radius: 4px;
  box-shadow: rgb(197, 197, 197) 0px 0px 10px 0px;
  background-color: #fff;
}

.teacher-list-inner {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.img-teacher-manager {
  width: 40px;
  height: 40px;
}

.teacher-add {
  margin: 1.5rem 1rem;
}
