.exam-left {
  border-radius: 4px;
}

.exam-left-inner {
  /* padding: 1rem; */
}

.exam-left-header {
  width: 100%;
  height: 50px;
  background-color: #0033ff;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}
.exam-left-header > span {
  font-weight: 400px;
  text-transform: uppercase;
  padding: 10px;
}

.exam-left-body {
  height: 400px;
  overflow-y: scroll;
}

.exam-element {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 0.5rem 0rem; */
}

.exam-element > span {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: solid 0.3px grey;
}

.exam-element > button {
  float: right;
  background-color: rgb(255, 136, 0);
  outline: none;
  border: 0px;
}

.exam-element > button:hover {
  background-color: rgb(202, 125, 37);
}

.exam-element > button:active {
  background-color: yellow;
}

.exam-add-button > button {
  margin: 1rem 2rem;
}

.add-exam-loading-request {
  position: absolute;
  bottom: 300px;
  left: 330px;
}

.show-exam-left-loading {
  padding-left: 45%;
  padding-top: 1rem;
}

@media only screen and (max-width: 768px) {
  .exam-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .add-exam-loading-request {
    position: absolute;
    bottom: 200px;
    left: 150px;
  }
}
